<nav class="{f:if(condition:'{0:placement} == {0:"above"}', then:'above-40', else:'below-40')}">
	<ul class="square-icon-list">
		<li>
			<a href="https://twitter.com/emclarkfdn" target="_blank">
				<div class="screen-reader-text">Follow EMCF on Twitter</div>
				<i class="icon-twitter"></i>
			</a>
		</li>
		<li>
			<a href="https://www.youtube.com/user/EMCForg" target="_blank">
				<div class="screen-reader-text">EMCF Youtube Channel</div>
				<i class="icon-youtube"></i>
			</a>
		</li>
		<li>
			<a href="https://www.facebook.com/EdnaMcConnellClarkFoundation/" target="_blank">
				<div class="screen-reader-text">EMCF on Facebook</div>
				<i class="icon-facebook"></i>
			</a>
		</li>
<!-- 		<li>
			<a href="https://facebook.com" target="_blank">
				<div class="screen-reader-text">Follow EMCF on Google Plus</div>
				<i class="icon-facebook"></i>
			</a>
		</li> -->
	</ul>
</nav>
