{namespace t=CIC\T3site\ViewHelpers}
{namespace fp=Tx_Fluidpage_ViewHelpers}
<f:if condition="{constants.useHeroContentArea}">
	<f:then>
		<fp:content colPos="7" searchIndexWrap="0"/>
	</f:then>
	<f:else>
		<header class="hero"
			style="
			background-image: url(/{t:heroImagePath()});
			background:
				linear-gradient(transparent 0%, transparent 68.254%, rgba(105, 126, 144, 0.72) 84.254%, #697e90),
				url(/{t:heroImagePath()}) 50% 0 / cover;">
			<img class="hero-fallback" src="{t:heroImagePath()}" alt="{t:heroTitle()}">
			<f:if condition="{constants.leftHeroTitle}">
				<f:then>
					<div class="hero-bottom-left-heading">
						<div class="container-max">
							<h1 class="sinage-tertiary">{t:heroTitle()}</h1>
						</div>
					</div>
				</f:then>
				<f:else>
					<div class="hero-bottom-heading">
						<div class="container-max">
							<h1 class="sinage-primary">{t:heroTitle()}</h1>
						</div>
					</div>
				</f:else>
			</f:if>

		</header>
	</f:else>
</f:if>
