{namespace a=CIC\Cicassetpipeline\ViewHelper}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/typo3conf/ext/t3site/Resources/Assets/Script/Javascript/Libs/jQuery/jquery-1.11.0.min.js"><\/script>');</script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script>window.angular || document.write('<script src="/typo3conf/ext/t3site/Resources/Assets/Script/Javascript/Libs/Angular/angular-1.3.15.min.js"><\/script>');</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

<a:asset.includeJavascriptFromDistFile distFile="../dist-main.json" />

<!-- ShareThis configuration -->
<script type="text/javascript">var __st_loadLate=true;</script>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({onhover: false, publisher: "ur-b5b982e9-6bf3-b7f3-7d8c-e0b795830ff", doNotCopy: true, hashAddressBar: false});</script>
<!-- End of ShareThis configuration -->
