<!-- .logo-primary, .logo-mini should link back home -->
<f:link.page pageUid="1" class="logo-primary">
	<img class="svg" src="/typo3conf/ext/t3site/Resources/Public/Dist/Images/logo-accent.svg" alt="Logo for the Edna McConnell Clark Foundation"/>
	<img class="no-svg-fallback" src="/typo3conf/ext/t3site/Resources/Public/Dist/Images/logo-accent-fallback.png" alt="Logo for the Edna McConnell Clark Foundation"/>
	<span class="screen-reader-text">The Edna McConnell Clark Foundation</span>
</f:link.page>

<f:link.page pageUid="1" class="logo-slim">
	<img class="svg" src="/typo3conf/ext/t3site/Resources/Public/Dist/Images/logo-white.svg" alt="Logo for the Edna McConnell Clark Foundation"/>
	<img class="no-svg-fallback" src="/typo3conf/ext/t3site/Resources/Public/Dist/Images/logo-white-fallback.png" alt="Logo for the Edna McConnell Clark Foundation"/>
	<span class="screen-reader-text">The Edna McConnell Clark Foundation</span>
</f:link.page>

<f:link.page pageUid="1" class="logo-mini">
	<span class="screen-reader-text">The Edna McConnell Clark Foundation</span>
</f:link.page>
